{% extends 'base.html' %}

{% block title %}Select Library{% endblock %}

{% block content %}

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Select a Library</h6>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32"
        class="mr-2 rounded" style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Boipatong</strong>
      Location
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Boitumelo</strong>
      Location
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Bophelong</strong>
      Location
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Driehoek</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Evaton</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Evaton North</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Residensia</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Roshnee</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Rus-ter-Vaal</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Sebokeng</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Sharpeville</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Stephenson</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Tshepiso</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Vanderbijlpark</strong>
      Location 
    </p>
  </div>
  <div class="media text-muted pt-3">
    <a href="{{ url_for('book.quality') }}"><img src="https://img.icons8.com/nolan/64/000000/real-estate.png" alt="32x32" class="mr-2 rounded"
        style="width: 32px; height: 32px;"></a>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">Vereeniging</strong>
      Location 
    </p>
  </div>

</div>

{% endblock %}